
/*Thumbnails*/

.tile {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;

    float: left;

    margin: 16px;
}

.tile:hover{
    box-shadow: 0px 0px 16px #000000cc;
    transition: 0.1s;
}

.banner {
    background-color: #2196f3;
    color: white;

    position: absolute;
    bottom: 0px;
    min-height: 50px;
    width: 300px;



    font-family: Verdana;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.innerBanner{

    text-align: center;
    vertical-align: middle;

    padding: 8px 50px;
}


.tint {
    display: block;


    background-color: #ffffff00;
    color: white;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    font-family: Verdana;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;

}

.thumbnail{
    position: relative;
    bottom: 25px;
    z-index: -1;
}

.tile:hover .banner{
    background-color: #6ec6ff;
    color: black;
    transition: 0.2s;

}

.tile:hover .tint{
    background-color: #ffffff30;
}

/*--------------------------------------------------------------------------------------------------------------------
Project Pages*/


.project-column {
    background-color: white;
    padding: 128px 32px;
    max-width: 700px;
    margin: auto;
    font-family: Verdana, sans-serif;
    text-align: center;
    float: top;
    box-shadow: 0px 0px 16px black;
    min-height:100vh;

}


.ToC {
    position: fixed;
    left: 16px;
    top: 128px;

    background-color: white;
    border-radius: 8px;
    padding: 8px;

    box-shadow: 0px 0px 12px #000c;
}


.ToC a{
    padding: 6px 8px;
    float: left;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: black;

    transition: 0.1s;
}

.ToC a:hover{
    background-color: lightgrey;

    transition: 0.15s;
}

.back {
    background-color: #12005e;
    transition: 0.1s;
    outline: none;
    color: white;
    border: 0px;

    font-family: Verdana;
    font-size: 20px;
}

.back:hover{
    box-shadow: 0px 0px 8px black;
    transition: 0.1s;
}

.back:active{
    background-color: #12005e;
    transition: 0.1s;
}

.sidenav-item {
    margin-top: 32px;
}

.content {
    font-family: Verdana;
    text-align: justify;
    font-size: 20px;
}

.section {
font-weight: bold;
}
.subsection{
    text-indent: 1em;
}
.subsubsection{
    text-indent: 2em;

}

.fullpic {
    max-width: 80%;
    max-height: 50vh;
    border-radius: 6px ;
    border: 2px #12005e;
    box-shadow: 0px 0px 4px #000c;
}
.toppic {
    width: 100%;
    margin-top: -96px;
    padding: -16px;
    border: 2px black;
}

.label {
    font-size: 12px;
}

body{
    margin: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 230px;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


.contacttable{
    margin-left: 10%;
    border: 0px #0000;
    text-align: left;
    font-size: 22px;
}

tr:hover{
    background-color: #cccccc;
    transition: 0.25s;
}



@media screen and (max-width: 1210px) {
    .column {
        flex: 48%;
        max-width: 48%;
    }

    .ToC {
        left: 0px;
        top: 0px;
        margin-top: 70px;
        right: 0;
        background-color: #ccc;
        border-radius: 0px;
    }
    .ToC a{
        float: top;
        text-decoration: none;
        text-underline: none;
    }
    .ToC a:hover{
        position: relative;
        background-color: #eee;
        text-decoration: none;
    }
    .subsection {
        display: none;
        text-decoration: none;
    }

    .subsubsection{
        display: none;
        text-decoration: none;
    }

    .project-column {
        padding-top: 176px;
    }

}