/* Add a black background color to the top navigation */
.topnav {
    background-color: #4a148c;
    overflow: hidden;

    position: fixed;
    float: top;
    width: 100%;

    top: 0px;
    left: 0px;

    z-index: 100;

    box-shadow: 0px 0px 16px #000000cc;

  vertical-align: middle;

}

.material-icons, .icon-text {
    vertical-align: middle;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: Verdana;


    vertical-align: middle;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #7c43bd;
    box-shadow: 0px 0px 8px #00000077;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #12005e;
}

.sidenav {

    background-color: #6ec6ff;
    overflow: hidden;

    position: fixed;
    float: left;
    height: 100%;
    width: 310px;


    top: 0px;
    left: 0px;

    z-index: 99;

    box-shadow: 0px 0px 8px #000000cc;

    vertical-align: middle;

}

.sidenav a{
    float: left;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: Verdana;


    vertical-align: middle;
}

.sidenav a:hover{
    background-color: #2196f3;
    color: white;


    transition:0.15s;
}

.sidenav .search-container {
    float: top;
    height:35px;
    margin: 150px 32px 32px;
    position: relative;
    transition: .1s;
}


.sidenav .search-container:hover{
    box-shadow: 0px 0px 6px #0008;
    transition: .1s;
}

.sidenav input[type=text] {
    float: left;
    position: absolute;
    top: 0px;
    left:0px;
    bottom: 0px;
    padding: 6px;
    font-size: 17px;
    border: none;

    outline: none;
}

.sidenav input[type=text]:focus{
    box-shadow: 0px 0px 12px #000c;
    transition: .1s;
}

.sidenav .search-container button:hover{
    box-shadow: 0px 0px 6px #0008;
    transition: 0.1s;
}


.sidenav .search-container button {
    float: top;
    position: absolute;
    top: 0px;
    right:0px;
    bottom: 0px;
    padding: 6px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;

    outline: none;
}


.sidenav .search-container button:active {
    box-shadow: none;
    background-color: #ccc;
    transition: 0.1s;
}


.divider {
    border: 2px #000;
    width: 2px;
    flex-grow: 1;
    margin: 5px
}

.dark {
    color: #12005e;
    background-color: #12005e;
    font-family: "Comic Sans MS";
}

.span {
    padding-bottom: 20px;
}

.hspacing {
  height: 50px;
}
