/* Add a black background color to the top navigation */
.topnav {
    background-color: #4a148c;
    overflow: hidden;

    position: fixed;
    float: top;
    width: 100%;

    top: 0px;
    left: 0px;

    z-index: 1;

    box-shadow: 0px 0px 16px #000000cc;

  vertical-align: middle;

}

.material-icons, .icon-text {
    vertical-align: middle;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: Verdana;

  border: solid #00000000;
  border-left: #12005eff;
  border-width: 0 1px;

    vertical-align: middle;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #7c43bd;
    box-shadow: 0px 0px 8px #00000077;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #7c43bd;
}

.divider {
    border: 2px #000;
    width: 2px;
    flex-grow: 1;
    margin: 5px
}

.dark {
    color: #12005e;
    background-color: #12005e;
}

.span {
    padding-bottom: 20px;
}

.hspacing {
  height: 50px;
}
